#For loading modules via init.rc (wifi,cmem)
allow init self:capability sys_module;
#Create symlinks for storage
allow init tmpfs:lnk_file create_file_perms;

# Configfs
allow init configfs:file write;
allow init configfs:lnk_file { create unlink } ;
